<div class="center">
<h1>Are you more...?</h1>
<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :openness, "More Cautious ------------------------ or ------------------------ More More Curious" %><br>
    <%= f.range_field :openness, min: 1, max: 5 %>
  </div>
  <div class="field">
    <%= f.label :conscientiousness, "More Easy-going ------------------------ or ------------------------ More Organized" %><br>
    <%= f.range_field :conscientiousness, min: 1, max: 5 %>
  </div>
  <div class="field">
    <%= f.label :extraversion, "More Reserved -------------------------- or -------------------------- More Outgoing" %><br>
    <%= f.range_field :extraversion, min: 1, max: 5 %>
  </div>
  <div class="field">
    <%= f.label :agreeableness, "More Detached ---------------------- or ---------------------- More Compassionate" %><br>
    <%= f.range_field :agreeableness, min: 1, max: 5 %>
  </div>
  <div class="field">
    <%= f.label :neuroticism, "More Confident -------------------------- or -------------------------- More Sensitive" %><br>
    <%= f.range_field :neuroticism, min: 1, max: 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', current_user.profile, :class => "btn btn-warning" %>
</div>