<!DOCTYPE html>
<html>
<head>
  <title>Livemotiv</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Logo</h1>
  <% if user_signed_in? %>
    <%= link_to "Home", "#" %>
    <%= link_to "My Profile", current_user.profile %>
    <%= link_to "My community", "#" %>
    <a href="sign_out">Sign out</a>
  <% else %>
    <a href="users/auth/facebook">Sign in with Facebook</a>
  <% end %>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<footer>
  <p>2014 LiveMotiv</p>
</footer>
</body>
</html>
